{{ define "main" }}
  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col">
          {{ partial "title" . }}
          <div class="py-3">{{ .Content | markdownify }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Image.Fill - Option</h2>
          <p>Aspect ratio: preserved and fit in box</p>
          {{ $img7 := .Resources.GetMatch "**1*" }}
          {{ $img7 = $img7.Fill "250x250 TopRight" }}
          <figure class="figure">
            <img src="{{ $img7.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Fill to 250x250 + Anchor TopRight</figcaption>
          </figure>
          {{/* TopLeft, Top, TopRight, Left, Center,Right, BottomLeft, Bottom, BottomRight, or Smart.  */}}
        </div>
        <div class="col-md-6">
          <h2>Image.Crop  - Option</h2>
          <p>Aspect ratio: preserved and fit in box</p>
          {{ $img8 := .Resources.GetMatch "**1*" }}
          {{ $img8 = $img8.Crop "250x250 BottomLeft" }}
          <figure class="figure">
            <img src="{{ $img8.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Crop to 250x250 + Anchor BottomLeft</figcaption>
          </figure>
          {{/* TopLeft, Top, TopRight, Left, Center,Right, BottomLeft, Bottom, BottomRight, or Smart.  */}}
        </div>
        <div class="col-md-6">
          <h2>Image.Crop  - Option</h2>
          <p>Aspect ratio: preserved and fit in box</p>
          {{ $img9 := .Resources.GetMatch "**1*" }}
          {{ $img9 = $img9.Crop "250x250 Smart" }}
          <figure class="figure">
            <img src="{{ $img9.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Crop to 250x250 + Anchor Smart</figcaption>
          </figure>
          {{/* TopLeft, Top, TopRight, Left, Center,Right, BottomLeft, Bottom, BottomRight, or Smart  */}}
        </div>
        <div class="col-md-6">
          <h2>Image.Rotate 30</h2>
          <p>Aspect ratio: preserved and fit in box</p>
          {{ $img1 := .Resources.GetMatch "**1*" }}
          {{ $img1 = $img1.Resize "400x r30" }}
          <figure class="figure">
            <img src="{{ $img1.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Resize and rotate</figcaption>
          </figure>
          {{/* TopLeft, Top, TopRight, Left, Center,Right, BottomLeft, Bottom, BottomRight, or Smart  */}}
        </div>
        <div class="col-md-6">
          <h2>Image.Target Format </h2>
          <p>Aspect ratio: preserved and fit in box</p>
          {{ $img2 := .Resources.GetMatch "**4*" }}
          {{ $img2 = $img2.Resize "500x webp q85" }}
          <figure class="figure">
            <img src="{{ $img2.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Converted to webp resize 500x</figcaption>
          </figure>
          {{/*  bmp, gif, jpeg, jpg, png, tif, tiff, or webp  */}}
        </div>
        <div class="col-md-6">
          <h2>WebP Hint </h2>
          <p>Compress text image</p>
          {{ $img3 := .Resources.GetMatch "**text*" }}
          {{ $img3 = $img3.Resize "400x webp text q85" }}
          <figure class="figure">
            <img src="{{ $img3.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Converted text to webp resize 400x</figcaption>
          </figure>
          {{/*  bmp, gif, jpeg, jpg, png, tif, tiff, or webp  */}}
        </div>
        <div class="col-md-6">
          <h2>Background Color</h2>
          <p>Converting to jpg from transparent file</p>
          {{ $img4 := .Resources.GetMatch "**trans2*" }}
          {{ $img4 = $img4.Resize "500x webp q85" }}
          <figure class="figure">
            <img src="{{ $img4.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Converted transparency to color</figcaption>
          </figure>
          {{/*  bmp, gif, jpeg, jpg, png, tif, tiff, or webp  */}}
        </div>
        <div class="col-md-12">
          <h2>High Quality</h2>
          <p>Converting to jpg from transparent file</p>
          {{ $img5 := .Resources.GetMatch "**1*" }}
          {{ $img5 = $img5.Resize "900x webp q90" }}
          <figure class="figure">
            <img src="{{ $img5.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Converted transparency to color</figcaption>
          </figure>
          {{/*  bmp, gif, jpeg, jpg, png, tif, tiff, or webp  */}}
        </div>
        <div class="col-md-12">
          <h2>Low Quality</h2>
          <p>Converting to jpg from transparent file</p>
          {{ $img6 := .Resources.GetMatch "**1*" }}
          {{ $img6 = $img6.Resize "900x webp q10" }}
          <figure class="figure">
            <img src="{{ $img6.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Converted transparency to color</figcaption>
          </figure>
          {{/*  bmp, gif, jpeg, jpg, png, tif, tiff, or webp  */}}
        </div>
      </div>
    </div>
  </section>
{{ end }}