{{ define "main" }}
  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col">
          {{ partial "title" . }}
          <div class="py-3">{{ .Content | markdownify }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>resources.Get</h2>
          {{ $img1 := resources.Get "images/placeholder1.jpg" }}
          <figure class="figure">
            <img src="{{ $img1.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">resources.Get (global resources accessible from all pages)</figcaption>
          </figure>
        </div>
        <div class="col-md-6">
          <h2>.Resources.ByType</h2>
          {{ $img2 := .Resources.ByType "image" }}
          {{ range $index, $element := $img2 }}
            <figure class="figure">
              <img src="{{ $element.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">.Resources.ByType image {{ add $index 1 }}</figcaption>
            </figure>
          {{ end }}
        </div>                                                                                                                                                                                                                                                                                                                                       
        <div class="col-md-6">
          <h2>.Resources.Match</h2>
          {{ $img3 := .Resources.Match "images/*2*" }}
          {{ range $index, $element := $img3 }}
            <figure class="figure">
              <img src="{{ $element.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">.Resources.ByType image {{ add $index 1 }}</figcaption>
            </figure>
          {{ end }}
        </div>
        <div class="col-md-6">
          <h2>.Resources.GetMatch</h2>
          {{ $img4 := .Resources.GetMatch "**3*" }}
          <figure class="figure">
            <img src="{{ $img4.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">.Resources.GetMatch</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
{{ end }}