{{/*  set variables  */}}
{{- $fillWidth := "" -}}
{{- $filHeight := "" -}}
{{-/*  get image resource  */-}}
{{- $img := .page.Resources.GetMatch .src }}
{{/*  height to width ratio of src image  */}}
{{/*  numbers must be converted to float before division  */}}
{{- $imgRatio := div ($img.Height | float) $img.width | float  -}}
{{/*   height to width ration of .fill Ratio  */}}
{{/*  numbers must be converted to float before division  */}}
{{- $fillRatio := div (index .fillRatio . | float) (index .fillRatio 0 | float) -}}
{{/*  if image ratio > .FillRatio keep width and crop height  */}}
{{- if gt $imgRatio $fillRatio -}}
  {{- $filWidth = $img.Width -}}
  {{/*  resulting fillHeight must be coverted to integer for use with image resize  */}}
  {{- $fillHeight = mul $img.Width $fillRatio | int -}}
{{- else -}}
{{/*  if image ratio <= .fillRatio keep height and crop width  */}}
  {{/*  reverse .fillRatio numbers to apply crop to width  */}}
  {{/*  numbers must be converted to float before division  */}}
  {{- $fillRatio = div (index .fillRatio 0 | float) (index .fillRatio 1 | float) -}}
  {{- $fillHeight = $img.Height -}}
  {{/*  resulting fillWidth must be converted to integer for image resize  */}}
  {{- $fillwidth = mul $img.Height $fillRatio | int  -}}
{{- end -}}
{{/* process image */}}
{{- $imgResized := $img.Fill (printf "%dx%d" $fillWith $fillHeight -}}
<img 
  src="{{ $imgResized.RelPermalink}}" 
  alt="{{ .alt }} "
  width="{{ $imgResized.Width }}"
  height="{{ $imgResized.Height }}"
  class="{{ .class | default 'img-fluid' }}">


