{{- $title := "" -}}
{{- $alt := "" -}}
{{- $src := "" -}}
{{- $width := "" -}}
{{/*  check for named params in shortcode  */}}
{{ if .IsNamedParams }}
  {{ with (.Get "src") }}
    {{ $src = . }}
  {{ end }}
  {{ with (.Get "alt") }}
    {{ $alt = . }}
  {{ end }}
  {{ with (.Get "src") }}
    {{ $src = . }}
  {{ end }}
  {{ with (.Get "width") }}
    {{ $width = . | int }}
  {{ end }}
{{ else }}
  {{/*  if only 1 un named param in shorcode  */}}
  {{ with (.Get 0) }}
    {{ $src = . }}
  {{ end }}
{{ end }}
{{ $dict := (dict
  "page" .Page
  "src" $src
  "title" $title
  "alt" $alt  
  "width" $width  
)}}
{{/*  Call image partial, and use for everything else  */}}
<div class="row d-flex justify-content-center">
  <div class="d-flex justify-content-center col-md-9" >
    {{ partial "exercises/image" $dict }}
  </div>
</div>
